.area-canvas {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;

    .cell {
        border: 2px solid black;
        transition: background-color 0.2s linear;

        &::after {
            content: "";
            display: block;
            margin-top: 100%;
        }

        &.healthy {
            background-color: darkgreen;
        }
        &.infected {
            background-color: darkred;
        }
        &.immune {
            background-color: darkorange;
        }
    }
}